$font-title: "Poppins";
$font-para: "Noto Sans Mono";

$font-xxl: 4.5rem;
$font-xl: 3rem;
$font-l: 1.5rem;
$font-m: 1rem;
$font-s: 0.75rem;
$font-xs: 0.5rem;

$radius-l: 50px;
$radius-s: 30px;

$layout-height: 4rem;

$color-dark: #1f1f1e;
$color-light-dark: #2a2a28;
// $color-dark-blue: #126464;
$color-blue: #126464;
$color-yellow: #ffd333;
$color-red: #fc5c65;
$color-white: #fff;
$color-third: #fc5c65;
$color-grey: #ccc;
